.cube{
   
    width: 100px;
    height: 100px;
    position: absolute;
    left: 270px;
    top: 120px;
}
.cube_hint{
   
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    min-width: 30px;
    min-height: 30px;
    width: fit-content;
    position: absolute;
    border-radius: 5px;
    align-items: center;
   

}
.cube_hint:nth-child(1){
    left: 300px;
    top: 70px
    
}
.cube_hint:nth-child(2){
    left: 250px;
    top: 100px
    
}
.cube_hint:nth-child(3){
    left: 210px;
    top: 150px
    
}
.cube_hint:nth-child(4){
    left: 225px;
    top: 190px
    
}
.cube_hint:nth-child(5){
    left: 250px;
    top: 220px    
}

.AdmPageExample-wrapper{
    background-image: url('./back.png');
    width: 401px;
    height: 252px;
    border-radius: 15px;
    position: relative;
}
