.AdmPageAddPropertyButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;

}

.color__btn {
    border-radius: 50px;
    width: 65px;
    height: 65px;
    border: 0px solid;
    opacity: .3;
}


.color__btn_active{
    border-radius: 50px;
    outline: 2px solid #00FF38;
    border: 3px solid white;
    width: 65px;
    height: 65px;
}