.AdmPageNameSystem-prompts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  
}

/* .AdmPageNameSystem-promptType {
   
}

.AdmPageNameSystem-promptTitle {
   
}
 */
/* .AdmPageNameSystem-promptDesc {
 width: 500px;
   
} */